.editorials
  .pic-small
    width: 50%
    margin: 10px
    height: 200px
  h1
    text-transform: uppercase
  .fa
    font-size: 20px
    padding: 10px
    &:hover
      cursor: pointer
    span
      font-family: "Raleway",sans-serif
      font-weight: bold
      padding: 10px
  .flex-grid
    width: 2000px
    height: 1200px
    margin-top: 50px
    .col
      flex: 1
      margin: 1px
      height: 100%
    .row
      width: 100%
      height: 400px

      .pic-small
        width: 50%

        height: 100%
        margin: 10px
      .lrg
        width: 100%
        height: 100%

      .pics
        flex: 1
        height: 80px
        margin: 1px
  .btn-locker
    margin-top: 40px
    margin-bottom: 30px
    .btn
      background: white
      text-transform: uppercase
      color: black
      padding: 10px 60px
      border: 3px solid black
      font-weight: bold
      transition: .54s ease all
      margin-left: 20px
      &:hover
        background: black
        cursor: pointer
        letter-spacing: 3px
        color: white
