html
	head
		link(rel="stylesheet",href="css/master.css",type="text/css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://use.fontawesome.com/525ca23e8d.js"></script>
		script(type="text/javascript",src="js/script.js")
			

	body
		#enterSite
			.flex.rows
				.intro.flex.flex--center.align-center.columns.unit
					h1.introd.item Introducing
					h1.logo.item oyp
					span.enter.item Enter Site
				.pics.unit
		.main-body
			nav.global
				.flex.flex--space-around.align-center.rows
					h1.logo oyp
					.link.flex.flex--center.align-center.rows
						a(href="")
							span Home
						a(href="")
							span photos
						a(href="")
							span Home
						a(href="")
							span Home
						a(href="")
							span Home
						a.back(href="") back
			section.lockup.flex.flex--center.align-center.rows
				.flex-unit.flex.flex--center.align-center.columns.edit(data-id='1')
					h3 people
				
				.flex-unit.flex.flex--center.align-center.columns.land(data-id='2')
					h3 landscapes
				
				.flex-unit.flex.flex--center.align-center.columns.port(data-id='3')
					h3 mixed
			
		.editorials
			.flex.flex--center.align-center.columns
				.title.flex.flex--center.align-center.columns
					i.fa.fa-arrow-left <span>Back to selection</span>
					h1 People 
					.btn-locker.flex.flex--center.align-center.rows
						.btn.btn-accepted
							span Accepted
						.btn.btn-all
							span All
						.btn.btn-rejected
							span REJECTED
				.flex-grid.flex.rows
					.col.columns.flex
						.row.flex.rows
							.pic.pic-small(data-state="accepted")
							.pic.pic-small(data-state="unaccepted")
						.row.flex
							.pic.lrg
						.row.flex.columns
					.col.pic.lrg-pic
						
		.mixed
			.flex.flex--center.align-center.columns
				.title.flex.flex--center.align-center.columns
					i.fa.fa-arrow-left <span>Back to selection</span>
					h1 Mixed 
					.btn-locker.flex.flex--center.align-center.rows
						.btn.btn-accepted
							span Accepted
						.btn.btn-all
							span All
						.btn.btn-rejected
							span REJECTED
				.flex-grid.flex.rows
					.col.columns.flex
						.row.flex.rows
							.pic.pic-small(data-state="accepted")
							.pic.pic-small(data-state="unaccepted")
						.row.flex
							.pic.lrg
						.row.flex.columns
					.col.pic.lrg-pic
		.landscapes
			.flex.flex--center.align-center.columns
				.title.flex.flex--center.align-center.columns
					i.fa.fa-arrow-left <span>Back to selection</span>
					h1 Landscapes 
					.btn-locker.flex.flex--center.align-center.rows
						.btn.btn-accepted
							span Accepted
						.btn.btn-all
							span All
						.btn.btn-rejected
							span REJECTED
				.flex-grid.flex.rows
					.col.columns.flex
						.row.flex.rows
							.pic.pic-small(data-state="accepted")
							.pic.pic-small(data-state="unaccepted")
						.row.flex
							.pic.lrg
						.row.flex.columns
					.col.pic.lrg-pic
				
